html,
body {
  overflow-y: auto !important;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/md.woff2) format("woff2"),
    url(/md.woff) format("woff"), url(/md.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* SLIDER LOADER */
.loading {
  position: absolute;
  width: 100%;
  height: 5px;
  overflow-x: hidden;
  z-index: 9999;
  .hide {
    display: none;
  }
}

.line {
  position: absolute;
  opacity: 0.4;
  background: #ffffff;
  width: 100%;
  height: 5px;
}

.subline {
  position: absolute;
  background: #009688;
  height: 5px;
}

.inc {
  animation: increase 1s infinite linear;
}

@keyframes increase {
  from {
    left: -10%;
    width: 10%;
  }

  to {
    left: 100%;
    width: 60%;
  }
}

/* END SLIDER LOADER */
.stacked-snackbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  z-index: 9999;
  .v-snack--bottom {
    position: relative;
  }
}
.code {
  font-family: monospace;
  font-size: small;
}
.hide {
  display: none;
}